.passwordInputSection {
    display: flex;
    background-color: #F79256;
    height: 40%;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 1rem;
}

.passwordInputSection>input {
    height: 1rem;
    padding: 0.3rem 0rem;
    width: 12rem;
    outline: none;
    border: none;
    border-radius: 5px;
    text-align: center;
}


.passwordInputSection-btnGroup {
    display: flex;
    gap: 0.2rem;
}

.optionsSections {
    height: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 1rem;
    background-color: #1D4E89;
}

.optionsSections-lengthParams {
    display: flex;
    justify-content: space-evenly;
    width: 20rem;
    color: #ffffff;
}

.optionsSections-lengthParams>div {
    display: flex;
    gap: 0.3rem;
}

.optionsSections-Characters {
    display: flex;
    justify-content: space-evenly;
    width: 20rem;
    border-radius: 1rem;
}

.copyToClickBoard{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    background: #ffffff;
    color: green;
    font-size: 0.8rem;
    width: 10rem;
    height: 2rem;
    top: 90%;
    left: 70%;
}
body>.copyToClickBoard{
    left: 0%;
    top: 0%;
}